body,
.multilevel-dropdown-menu {
  font-family: Arial, sans-serif;
}

#root {
  background-color: #fff0df;
}

ul {
  min-width: 0 !important;
}

a {
  color: white;
  text-decoration: none !important;
}

.top-back-img {
  background-image: url("https://media.istockphoto.com/id/1007286274/it/foto/napoli-italia.jpg?s=2048x2048&w=is&k=20&c=SK71maX1gnmT5O_pdToKnohjmhsXZ0ZG7WpapknO3jI=");
  background-position: top;
}

/* NAVBAR FOR MOBILE */
.desktop {
  display: block;
}

.mobile {
  display: none;
}

/* Dropdown */

.parent.nav-item {
  display: block;
  position: relative;
  float: left;
  line-height: 40px;
  width: 100%;
  list-style: none;
  text-align: center;
}

/* .big-parent a {
  padding: 6px 87px;
} */
.bi-linkedin.nav {
  color: #006dcb;
}

.bi-youtube {
  color: red;
}

.parent {
  display: block;
  position: relative;
  float: left;
  line-height: 40px;
  padding-inline: 15px;
}

.parent.nav-item:first-child {
  background-color: #3ea7fa;
}

.parent.nav-item:nth-child(2) {
  background-color: #008eff;
}

.parent.nav-item:nth-child(3) {
  background-color: #3ea7fa;
}

.parent.nav-item:last-child {
  background-color: #008eff;
}
.parent.nav-item:first-child:hover,
.parent.nav-item:nth-child(2):hover,
.parent.nav-item:nth-child(3):hover,
.parent.nav-item:last-child:hover {
  background-color: #1a2123d4;
}

.parent a {
  color: black;
  font-size: 20px;
}

.big-parent a:hover {
  color: white;
  font-weight: bold;
}

.parent:hover > ul {
  display: block;
  position: absolute;
}

.child {
  left: -1px;
  top: 42px;
  margin-left: 1px;
  padding: 0;
  display: none;
  text-align: start;
  border-top: 1px solid black;
  width: 100%;
  z-index: 1;
}

.child li {
  background-color: #1a2123d4;
  line-height: 40px;
  border-top: none;
  padding-inline: 11px;
}

.child li a {
  color: white;
  font-size: 1.2rem;
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.child li a:hover {
  color: black;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  min-width: 12em;
}

.child.right {
  left: 100%;
  top: 10px;
  margin-left: 1px;
  border: 1px solid black;
}

.child.right li {
  padding-inline: 15px;
}

.parent li:hover {
  background-color: #71c0d6d4;
}

.expand {
  font-size: 12px;
  float: right;
  margin-right: 5px;
}

.big-parent:hover > a,
.child ~ a {
  color: white !important;
}

/* --------------------------------- */
/* NAVBAR */

.top-nav-container {
  padding-block: 5px;
}

.nav-top-div {
  display: flex;
  justify-content: space-between;
}

.my-logo {
  margin: 0;
  font-size: 2rem;
  color: white;
}

.logo-div {
  width: 40px;
  height: 40px;
}

.logo-div img {
  width: 100%;
  height: 100%;
}

.title-container {
  position: relative;
}

.title-div {
  padding-block: 1.5rem;
  display: flex;
  justify-content: center;
}

.title-div a {
  display: block;
  width: max-content;
}

.title {
  font-weight: 700;
  text-align: center;
  font-size: 4.5rem;
  color: white;
  text-shadow: 3px 6px 4px #000000;
}

.menu-container {
  background-color: #1a2123d4;
}

/* NAV-1 */
.first {
  padding: 0.5rem 0.2rem;
  background-color: #3393df;
}

.nav-step-1 {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-step-1 li {
  list-style: none;
  border-right: 2px solid black;
  text-align: center;
}

.nav-step-1 li:last-child {
  border-right: none;
}

.nav-step-1 li > a {
  padding-inline: 1rem;
  text-decoration: none;
  color: white;
}

/* NAV-2 */
.second {
  padding: 0.5rem 0.2rem;
}

.nav-step-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-slot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}

.user-slot p {
  margin: 0;
  color: white;
}

.user-slot svg {
  color: gray;
}

.user-slot svg:hover {
  color: #03a9f4;
}

.icon-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icon-div {
  border: 2px solid white;
  padding: 8px;
  background-color: #1a212300;
  display: flex;
  width: 36px;
  height: 36px;
  flex-direction: row;
  align-items: center;
}

.linke-link {
  height: 16px;
}

.contact-link {
  display: block;
  height: 17px;
}

.icon-div svg {
  vertical-align: baseline;
}

.icon-div:hover {
  border: 2px solid #03a9f4;
}

.dropdown-toggle::after {
  display: none !important;
}

.language-btn {
  background-color: transparent;
  border: none;
}

.dropdown-menu.language-btn {
  transform: translate(-93px, 28px) !important;
  background-color: #005ba3;
}

.dropdown-menu.show {
  inset: 4px auto auto 16px !important;
}

.language-btn img {
  width: 25px;
  height: 17px;
  margin-right: 10px;
}

.dropdown-item:hover {
  background-color: #005ba3 !important;
  color: white !important;
}

.nav-user-name {
  font-size: 22px;
}

.nav-user-img {
  width: 36px;
  height: 36px;
}

/* NAV-3 */
.third {
  padding: 0;
}

.nav-step-3 {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 0.15rem;
}

.nav-transp {
  height: 10px;
  background-color: #1a2123d4;
}

.div-itin-rel {
  position: relative;
}

.div-itin-abs {
  position: absolute;
  background-color: #1a2123d4;
  top: 56px;
  padding-inline: 10px;
}

.div-itin-abs p {
  margin: 0;
  line-height: 20px;
  padding-block: 20px;
  color: white;
}

.div-cont-rel {
  position: relative;
}

.div-cont-rel a {
  color: white;
}

.div-cont-abs {
  position: absolute;
  background-color: #1a2123d4;
  bottom: 45px;
  padding-inline: 10px;
}

.div-cont-abs p {
  margin: 0;
  line-height: 20px;
  padding-block: 20px;
  color: white;
}

/* LOGIN */

.login-big-cont {
  position: relative;
}

.login-container {
  width: 340px;
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translate(-195px, 27px);
  z-index: 1000;
  position: absolute;
  font-weight: 400;
}

.input-field {
  margin-bottom: 10px;
}

.input-field.login {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
}

.input-field.login input {
  width: 190px;
  height: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textarea-descript {
  height: 40vh !important;
  border-radius: 20px !important;
  border: 1px solid #00bbff !important;
  box-shadow: 2px 1px 11px -1px #007aff, -2px -1px 11px -1px #00e2ff;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}

.remember-me input[type="checkbox"] {
  margin-right: 10px;
}

.forgot-password {
  font-size: 14px;
  color: #666;
  text-decoration: none;
}

.register {
  margin-top: 20px;
  text-align: center;
}

.register-link {
  font-size: 16px;
  font-weight: bold;
  color: #337ab7;
  text-decoration: none;
}

.login-btn {
  width: 7rem;
  padding-block: 4px;
  background-color: #b2f0ff;
  border: none;
  font-weight: 600;
}

.login-btn:hover,
.reset-pass-btn:hover {
  background-color: #008dff;
}

.not-register {
  font-size: 12px;
  margin-bottom: 10px;
  color: black;
  display: block;
}

.register-btn {
  width: 8rem;
  background-color: #7f7f7f;
  font-weight: 600;
  padding-block: 5px;
  color: white;
  border: none;
}

.register-btn:hover {
  background-color: #b2f0ff;
  color: black;
}

.btn-show-pass-login {
  position: absolute;
  top: 2px;
  right: 4px;
}

.reset-question button {
  background-color: #7f7f7f;
  border: none;
  margin-bottom: 0.3rem;
  padding: 0.3rem 0.7rem;
  color: white;
  font-weight: 600;
}

.reset-pass-rel {
  position: relative;
}

.reset-pass-btn {
  width: 10rem;
  padding-block: 4px;
  background-color: #b2f0ff;
  border: none;
  font-weight: 600;
}

.btn-show-pass-reset {
  position: absolute;
  bottom: 55px;
  right: 7px;
}

/* REGISTER */
.register-total-page {
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow-div {
  margin-inline: 6rem;
  border: 1px solid #e1e1e1;
  border-radius: 2rem;
  box-shadow: 2px 2px 20px 0px #58b1e6, -2px -2px 20px 1px #c8fdff;
}

.reg-form {
  padding: 0.6rem 2.5rem !important;
  border: 0.5px solid #ededed !important;
  border-radius: 20px !important;
  box-shadow: 0px 3px 5px 0px #7cbcf2, 0px -2px 14px 0px #4ce3f6;
}

.register-form-btn {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.register-form-btn button {
  color: white;
  background-color: cadetblue;
  padding: 0.5rem 2.3rem;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 3px 6px 2px #9fbcc0;
}

.register-form-btn button:hover {
  transform: scale(1.04);
}

.pos-rel-pass {
  position: relative;
}

.btn-show-pass {
  position: absolute;
  top: 38px;
  right: 7px;
}

.register-div {
  padding-block: 5rem;
}

.btn-none {
  border: none;
  background-color: transparent;
}

.side-register {
  display: flex;
  background-color: cadetblue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

/* HOME */

.vesuvio-home {
  background-image: url(../public/image/Napoli-2.jpg);
  width: 100%;
  height: 80vh;
  background-repeat: round;
}

.on-vesuvio-text {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.on-vesuvio-text h1 {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.on-vesuvio-text h2 {
  color: white;
  width: 68rem;
  background-color: #0000003b;
}

.subcategory-home-rel {
  position: relative;
}

.subcategory-home-rel:hover {
  transform: scale(1.05);
}

.subcategory-home-rel a {
  margin: 0;
  font-size: 12px;
  color: black;
}

.subcategory-home-img {
  width: 100%;
  height: 17vh;
  border-radius: 15px;
}

.subcategory-home-name {
  background-color: white;
  padding-inline: 9px;
  display: flex;
  width: 8rem;
  position: absolute;
  left: 28px;
  bottom: 14px;
  height: 45px;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
}

/* ABOUT US */

.about-us-title {
  margin-top: 3rem;
  font-size: 2.5rem;
}

.about-us-desc {
  margin-top: 1rem;
}

.about-us-desc span {
  display: block;
  margin-block: 2rem;
}

.about-us-img {
  width: 90%;
}

.what-see {
  margin-top: 5rem;
}

.what-see h2 {
  margin-bottom: 2rem;
}

/* FOOTER */

.footer-img {
  background-image: url(/public/image/Napoli-2.jpg);
  background-position: center;
}

.footer {
  background-color: #0000007a;
}

.footer-cont {
  padding-top: 2rem;
}

.footer-cont p {
  margin-bottom: 0.5rem;
}

.footer-cont ul {
  padding-left: 0;
}

.footer a,
.footer p,
.scroll-color {
  color: #9a9a9a;
  cursor: pointer;
}

.footer a:hover,
.footer p:hover {
  color: white;
}

.footer-bottom {
  margin-top: 1rem;
}

.separator {
  height: 1px;
  width: 50rem;
  background-color: white;
}

/* ------------------------------ */

.separator-form {
  margin-bottom: 10rem;
}

/* Stops-form */

.stops-form {
  border-radius: 42px !important;
}

.stops-form .form-label {
  font-size: 18px;
  display: block;
  margin-bottom: 7px;
}

.stops-form .card-body {
  box-shadow: 5px -5px 20px -3px #1682e3, -5px 5px 20px -3px #54ecff;
  border-radius: 42px;
  padding-inline: 2rem;
}

.stops-input {
  padding: 0.5rem 1rem !important;
  border-radius: 20px !important;
  border: 1px solid #00bbff !important;
  box-shadow: 2px 1px 11px -1px #007aff, -2px -1px 11px -1px #00e2ff;
}

.create-edit-btn {
  width: 7rem;
  padding: 10px;
  background-color: #b2f0ff;
  border: none;
  font-weight: bold;
  box-shadow: 0px 0px 18px 2px #00aeff;
  border-radius: 16px;
}

.create-edit-btn:hover {
  transform: scale(1.15);
  background-color: #0073d6;
  color: white;
  box-shadow: 0 0 20px 2px #00c8ff;
}

/* ADMIN */

.admin-absolute {
  position: absolute;
  top: 0;
  left: 20px;
}

.admin-rel {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 37px;
}

.admin-expand {
  border: 2px solid black;
  background-color: #1a2123d4;
}

.admin-rel .row {
  padding-block: 4px;
}

.admin-rel .row .col {
  border-right: 2px solid black;
}

.admin-rel .row .col a {
  display: block;
  width: max-content;
  color: white;
  font-size: 17px;
}

.admin-rel .row .col a:hover {
  color: #00aeff;
}

.admin-rel .row .col:last-child {
  border: 0;
}

/* PAGINA STORIA */

.story-cont {
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.a-capo {
  display: block;
}

.image-cont {
  margin-block: 2rem;
}

.image-cont img {
  width: 100%;
}

.story-cont p {
  font-size: 18px;
}

.bold-text {
  font-weight: bold;
}

.margin-person {
  margin-bottom: 5rem;
}

.subcategory-voice-name {
  background-color: white;
  padding-inline: 9px;
  display: flex;
  width: 8rem;
  position: absolute;
  left: 35px;
  bottom: 15px;
  height: 46px;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
}

/* PAGINA PROFILO */

.profile-container {
  margin-block: 5rem;
}

.profile-page-img-flex {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.profile-page-img {
  border-radius: 100%;
  height: 12rem;
  width: 12rem;
  object-fit: cover;
}

.profile-page-img-rel {
  position: relative;
  width: max-content;
}

.profile-page-img-abs {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 20px 22px;
  background-color: #3393df;
  border-radius: 50%;
  color: white;
}

.update-profile-img {
  border: 0;
  border-radius: 9px;
  background-color: #00d700;
  padding: 5px 8px;
}
.cancel-update-profile-img {
  border: 0;
  border-radius: 9px;
  background-color: #ff0404;
  padding: 4px 6px;
}

.upload-pass {
  margin-top: 10rem;
}

.profile-input {
  padding: 0.5rem 1rem !important;
  border-radius: 20px !important;
  border: 1px solid #00bbff !important;
  box-shadow: -2px -1px 11px -1px #0392a4;
}

.input-field.profile {
  margin-bottom: 25px;
}

.input-field.profile label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  padding-inline: 1rem;
}

.acp-cancl-btn-abs {
  position: absolute;
}

.profile-btn {
  margin-top: 2rem;
  width: 14rem;
  padding: 10px;
  background-color: #b2f0ff;
  border: none;
  font-weight: bold;
  border-radius: 16px;
}

.profile-btn:hover {
  transform: scale(1.15);
  background-color: #0073d6;
  color: white;
  box-shadow: 0 0 20px 2px #00c8ff;
}

.logout-abs {
  padding: 12px 13px 13px 16px;
  background-color: #ff0000;
  top: 0px;
  position: absolute;
  right: 0px;
  border-radius: 21px;
}

/* CONTATTACI */

.contact-input {
  padding: 0.5rem 1rem !important;
  border-radius: 20px !important;
  border: 1px solid #00bbff !important;
  box-shadow: -2px -1px 11px -1px #0392a4;
}

.contact-btn {
  margin-top: 2rem;
  width: 14rem;
  padding: 10px;
  background-color: #b2f0ff;
  border: none;
  font-weight: bold;
  border-radius: 16px;
}

.textarea {
  height: 400px;
}

.contact-btn:hover {
  transform: scale(1.15);
  background-color: #0073d6;
  color: white;
  box-shadow: 0 0 20px 2px #00c8ff;
}

/* CATEGORY -> STOP -> VIEW */

.div-category-stop {
  margin-block: 8rem;
  position: relative;
}

.category-title {
  margin-bottom: 3rem;
}

.truncate-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.btn-edit {
  background-color: #ffd500 !important;
}

.btn-edit a {
  color: black;
}

.card-text-color h5 {
  color: #ff7900f7;
}

.card-text-color p {
  color: black;
}

/* STOP DETAIL */

.stop-detail-cont {
  margin-top: 6rem;
}

.stop-detail-cont img {
  width: 100%;
  /* vertical-align: middle;
  height: 63vh;
  object-fit: cover; */
}

.stop-title {
  margin-bottom: 2rem;
}

.bg-primary.category-badge {
  background-color: #004b86 !important;
}

.stop-title h1 {
  font-size: 3rem;
}

.stop-location {
  margin-block: 2rem 1.5rem;
}

.stop-category {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.stop-location {
  margin-block: 1.5rem 1.5rem;
}

.stop-description {
  margin-bottom: 2.5rem;
}

.stop-image {
  margin-bottom: 4rem;
}

.comment-container {
  margin-block: 7rem;
}

.comment-img-cont {
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
}

.comment-img-cont img {
  width: 35px;
  border-radius: 50%;
}

.comment-comment-cont {
  display: flex;
  margin-top: 8px;
  gap: 6px;
  padding: 1px 6px;
  background-color: white;
}

.comments {
  padding: 7px 9px 15px;
  background-color: #004b86;
  margin-bottom: 2rem;
  border-radius: 15px;
}

/* ITINERARY */

.edit-btn {
  position: absolute;
  left: 58rem;
  top: 60px;
}

.edit-link {
  padding: 10px 20px;
  background-color: #ffd500;
  border-radius: 5px;
}

.edit-link a {
  color: black;
}

.edit-link:hover {
  box-shadow: 0px 0px 17px 3px #3ea7fa;
}

/* HOMEPAGE Breakpoints */

@media screen and (max-width: 575px) {
  .vesuvio-home {
    height: 42vh;
  }

  .on-vesuvio-text h1 {
    font-size: 1.5rem;
  }

  .on-vesuvio-text h2 {
    font-size: 0.9rem;
    width: 20rem;
  }

  .title-div {
    padding-block: 1rem 1.5rem;
  }

  .title {
    font-size: 2rem;
  }

  .admin-absolute {
    top: 18vh;
    left: 2px;
  }

  .about-us-img {
    width: 100%;
  }
  .what-see {
    margin-top: 3rem;
    text-align: center;
  }

  #about {
    text-align: center;
  }

  .footer-cont {
    text-align: center;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .on-vesuvio-text h1 {
    font-size: 3rem;
  }

  .on-vesuvio-text h2 {
    width: 35rem;
    font-size: 24px;
  }
  .child li a {
    font-size: 1rem;
  }

  .subcategory-home-name {
    width: 10rem;
    left: 44px;
  }

  .nav-step-1 li > a {
    padding: 0;
    font-size: 0.9rem;
  }
  .user-slot {
    padding-left: 5px;
  }
  .dropdown-menu.show {
    inset: 4px auto auto 33px !important;
  }
  .title {
    margin-top: 15px;
    font-size: 3.5rem;
  }
  .parent a {
    font-size: 16px;
  }

  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .on-vesuvio-text h2 {
    width: 43rem;
  }
  .child li a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .on-vesuvio-text h2 {
    width: 52rem;
  }

  .child li a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .subcategory-home-name {
    width: 7rem;
    font-size: 13px;
  }
}

/* ---------------- */

@media (max-width: 575px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    text-align: center;
    padding-bottom: 15px;
  }
  .mobile-nav-btn {
    background-color: #1a2123d4 !important;
  }

  .menu-button {
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    padding-top: 15px;
    transition: 0.3s;
    z-index: 999;
    overflow: scroll;
  }

  .sidebar.open {
    left: 0;
  }

  .close-button {
    font-size: 36px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar ul li {
    padding-block: 8px;
    padding-inline: 0;
    text-align: center;
    border-bottom: 1px solid #555;
  }

  /* .sidebar ul li:hover {
    background-color: #404040c9;
  } */

  .sidebar a {
    color: white;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 998;
  }

  .overlay.show {
    display: block;
  }

  .language-btn-phone {
    background-color: transparent;
    border: none;
  }

  .language-btn-phone img {
    width: 25px;
    height: 17px;
    margin-right: 10px;
  }

  .dropdown-menu.language-btn-phone {
    transform: translate(-93px, 28px) !important;
    background-color: #0f727cf7;
    border: none;
    width: 9rem;
  }

  .dropdown-menu.language-btn-phone li {
    border: none;
  }

  .dropdown-menu.language-btn-phone li button {
    color: white;
  }

  .dropdown-menu.language-btn-phone.show {
    inset: 6px auto auto 143px !important;
  }

  .parent.nav-item {
    background-color: transparent !important;
  }

  .child.nav-phone {
    left: 76px;
    top: -15px;
  }

  .login label,
  .remember-me label {
    color: black;
  }

  .login-container {
    width: 319px;
    transform: translate(-9px, 11px);
  }

  .nav-user-img {
    width: 50px;
    height: 50px;
  }

  /* ------------------------- */

  .phone-parent.nav-item {
    display: block;
    position: relative;
    float: left;
    line-height: 40px;
    width: 100%;
    list-style: none;
    text-align: center;
  }

  .bi-linkedin.nav {
    color: #006dcb;
  }

  .bi-youtube {
    color: red;
  }

  .phone-parent {
    display: block;
    position: relative;
    float: left;
    line-height: 40px;
    padding-inline: 15px;
  }

  /* .phone-parent.nav-item {
    background-color: transparent;
  } */

  /* .phone-parent.nav-item:first-child:hover,
  .phone-parent.nav-item:nth-child(2):hover,
  .phone-parent.nav-item:nth-child(3):hover,
  .phone-parent.nav-item:last-child:hover {
    background-color: #1a2123d4;
  } */

  .phone-parent a {
    color: white;
    font-size: 20px;
  }

  .phone-big-parent a:hover {
    color: white;
    font-weight: bold;
  }

  /* .phone-parent:hover > ul {
    display: block;
     position: absolute; 
  } */
  /* 
  .phone-child {
    left: -1px;
    top: 42px;
    margin-left: 1px;
    padding: 0;
    display: none;
    text-align: start;
    border-top: 1px solid black;
    width: 100%;
    z-index: 1;
  } */

  .phone-child li {
    background-color: #262626;
    line-height: 40px;
    border-top: none;
    padding-inline: 11px !important;
  }

  .view {
    background-color: #262626;
    padding-bottom: 0 !important;
  }

  .phone-child li a {
    color: white;
    font-size: 1.2rem;
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  /* .phone-child li a:hover {
    color: black;
    font-weight: normal;
  } */

  ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    min-width: 12em;
  }

  .phone-child.right {
    left: 100%;
    top: 10px;
    margin-left: 1px;
    border: 1px solid black;
  }

  .phone-child.right li {
    padding-inline: 15px;
  }

  .expand {
    font-size: 12px;
    float: right;
    margin-right: 5px;
  }

  .phone-big-parent:hover > a,
  .child ~ a {
    color: white !important;
  }
}
