body,
.multilevel-dropdown-menu {
  font-family: Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none !important;
}

/* Dropdown */

.parent.nav-item {
  display: block;
  position: relative;
  float: left;
  line-height: 40px;
  width: 100%;
  list-style: none;
  text-align: center;
}

.big-parent a {
  padding: 6px 87px;
}

.parent {
  display: block;
  position: relative;
  float: left;
  line-height: 40px;
  padding-inline: 15px;
}

.parent.nav-item:first-child {
  background-color: #3ea7fa;
}

.parent.nav-item:nth-child(2) {
  background-color: #008eff;
}

.parent.nav-item:nth-child(3) {
  background-color: #3ea7fa;
}

.parent.nav-item:last-child {
  background-color: #008eff;
}
.parent.nav-item:first-child:hover,
.parent.nav-item:nth-child(2):hover,
.parent.nav-item:nth-child(3):hover,
.parent.nav-item:last-child:hover {
  background-color: #005ba3;
}

.parent a {
  color: black;
  font-size: 20px;
}

.big-parent a:hover {
  color: white;
  font-weight: bold;
}

.parent:hover > ul {
  display: block;
  position: absolute;
}

.child li {
  background-color: #005ba3;
  line-height: 40px;
  border-top: none;
  width: 17.5rem;
}

.child li a {
  color: white;
  font-size: 1.2rem;
}

.child li a:hover {
  color: black;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  min-width: 12em;
}

.child {
  left: 0px;
  top: 44px;
  margin-left: 1px;
  padding: 0;
  display: none;
  text-align: start;
  border: 1px solid black;
}

.child.right {
  left: 100%;
  top: 10px;
  margin-left: 1px;
  border: 1px solid black;
}

.child.right li {
  padding-inline: 15px;
}

li:hover {
  /* background-color: #005ba3; */
}

.parent li:hover {
  background-color: #005ba3;
}

.expand {
  font-size: 12px;
  float: right;
  margin-right: 5px;
}

.big-parent:hover > a,
.child ~ a {
  color: white !important;
}

/* --------------------------------- */
/* NAVBAR */

.top-nav-container {
  background-color: #3393df;
  padding-block: 5px;
}

.nav-top-div {
  display: flex;
  justify-content: space-between;
}

.my-logo {
  margin: 0;
  font-size: 2rem;
  color: white;
}

.logo-div {
  width: 40px;
  height: 40px;
}

.logo-div img {
  width: 100%;
  height: 100%;
}

.title-container {
  background-color: #dbdbdb;
}

.title-div {
  padding-block: 1.5rem;
}

.title {
  text-align: center;
  font-size: 4rem;
  color: white;
}

.menu-container {
  background-color: #1a2123;
}

/* NAV-1 */
.container.first {
  padding: 0.5rem 0.2rem;
  background-color: #3393df;
}

.nav-step-1 {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-step-1 li {
  padding-inline: 4rem;
  list-style: none;
  border-right: 2px solid black;
}

.nav-step-1 li:last-child {
  border-right: none;
}

.nav-step-1 li > a {
  padding-inline: 1rem;
  text-decoration: none;
  color: white;
}

/* NAV-2 */
.container.second {
  padding: 0.5rem 0.2rem;
  background-color: #1a2123;
}

.nav-step-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-slot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}

.user-slot p {
  margin: 0;
  color: white;
}

.user-slot svg {
  color: gray;
}

.user-slot svg:hover {
  color: #03a9f4;
}

.icon-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icon-div {
  border: 2px solid white;
  padding: 8px;
  background-color: #1a2123;
  display: flex;
}

.icon-div:hover {
  border: 2px solid #03a9f4;
}

.dropdown-toggle::after {
  display: none !important;
}

.language-btn {
  background-color: transparent;
  border: none;
}

.dropdown-menu.language-btn {
  transform: translate(-93px, 28px) !important;
  background-color: #005ba3;
}

.language-btn img {
  width: 25px;
  height: 17px;
  margin-right: 10px;
}

.language-btn a {
  color: white;
}

.dropdown-item:hover {
  background-color: #005ba3 !important;
  color: black !important;
}

/* NAV-3 */
.container.third {
  padding: 0;
  padding-bottom: 2px;
  background-color: black;
}

.nav-step-3 {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 0.15rem;
}

/* LOGIN */

.login-big-cont {
  position: relative;
}

.login-container {
  width: 340px;
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translate(-195px, 27px);
  z-index: 1000;
  position: absolute;
  font-weight: 400;
}

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.temperature {
  font-size: 18px;
  font-weight: bold;
  color: #666;
} */

.input-field {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
}

.input-field input {
  /* width: 100%; */
  width: 190px;
  height: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}

.remember-me input[type="checkbox"] {
  margin-right: 10px;
}

.forgot-password {
  font-size: 14px;
  color: #666;
  text-decoration: none;
}

.register {
  margin-top: 20px;
  text-align: center;
}

.register-link {
  font-size: 16px;
  font-weight: bold;
  color: #337ab7;
  text-decoration: none;
}

.login-btn {
  width: 6rem;
  padding-block: 4px;
  background-color: #b2f0ff;
  border: none;
  font-weight: 600;
}

.login-btn:hover {
  background-color: #008dff;
}

.not-register {
  font-size: 12px;
  margin-bottom: 10px;
  color: black;
  display: block;
}

.register-btn {
  width: 8rem;
  background-color: #7f7f7f;
  font-weight: 600;
  padding-block: 5px;
  color: white;
  border: none;
}

.register-btn:hover {
  background-color: #b2f0ff;
  color: black;
}

/* .footer {
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer li {
  margin-bottom: 10px;
}

.footer a {
  font-size: 16px;
  color: #337ab7;
  text-decoration: none;
} */

/* REGISTER */

.modal-header {
  justify-content: space-between;
}

.register-x-button {
  padding-right: 10px;
}

.btn-none {
  background-color: transparent;
  border: none;
}

.register-form-btn {
  display: flex;
  justify-content: flex-end;
}

.spessor {
  height: 1px;
  background-color: #818080;
  margin-block: 10px;
}
